In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("음주운전교통사고.csv")
df

      행정구역별  음주운전 교통사고발생건수  교통사고 발생건수
0        전국          15708     229600
1     서울특별시           2190      39258
2     부산광역시            636      12992
3     대구광역시            702      14536
4     인천광역시            770       8698
5     광주광역시            549       8169
6     대전광역시            472       8337
7     울산광역시            373       4347
8   세종특별자치시             89        922
9       경기도           4140      55463
10      강원도            492       7554
11     충청북도            678       9538
12     충청남도           1019       9404
13     전라북도            579       7615
14     전라남도            793      10877
15     경상북도           1060      14648
16     경상남도            870      12830
17  제주특별자치도            296       4412