In [1]:
import warnings
warnings.filterwarnings(action = 'ignore')

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns

In [3]:
import matplotlib.pyplot as plt

%matplotlib inline

In [4]:
plt.rc("font",family="Malgun Gothic")
plt.rc("axes",unicode_minus=False)
plt.style.use("fivethirtyeight")

In [5]:
from IPython.display import set_matplotlib_formats
set_matplotlib_formats("retina")

In [6]:
df = pd.read_csv("음주운전교통사고.csv")
df

      행정구역별  음주운전 교통사고발생건수  교통사고 발생건수
0        전국          15708     229600
1     서울특별시           2190      39258
2     부산광역시            636      12992
3     대구광역시            702      14536
4     인천광역시            770       8698
5     광주광역시            549       8169
6     대전광역시            472       8337
7     울산광역시            373       4347
8   세종특별자치시             89        922
9       경기도           4140      55463
10      강원도            492       7554
11     충청북도            678       9538
12     충청남도           1019       9404
13     전라북도            579       7615
14     전라남도            793      10877
15     경상북도           1060      14648
16     경상남도            870      12830
17  제주특별자치도            296       4412

## 19년도 전국 교통사고 발생 중 음주운전 발생 비율

In [7]:
df["시단위 음주교통사고 발생 비율(%)"] = df["음주운전 교통사고발생건수"] / df["교통사고 발생건수"]*100
df["시단위 음주교통사고 발생 비율(%)"] = df["시단위 음주교통사고 발생 비율(%)"].round(2)
df

      행정구역별  음주운전 교통사고발생건수  교통사고 발생건수  시단위 음주교통사고 발생 비율(%)
0        전국          15708     229600                 6.84
1     서울특별시           2190      39258                 5.58
2     부산광역시            636      12992                 4.90
3     대구광역시            702      14536                 4.83
4     인천광역시            770       8698                 8.85
5     광주광역시            549       8169                 6.72
6     대전광역시            472       8337                 5.66
7     울산광역시            373       4347                 8.58
8   세종특별자치시             89        922                 9.65
9       경기도           4140      55463                 7.46
10      강원도            492       7554                 6.51
11     충청북도            678       9538                 7.11
12     충청남도           1019       9404                10.84
13     전라북도            579       7615                 7.60
14     전라남도            793      10877                 7.29
15     경상북도           1060      14648                 7.24
16     경상남도            870      12830                 6.78
17  제주특별자치도            296       4412                 6.71

## 서울시 구별 발생현황

In [13]:
seoul_df = pd.read_csv("서울시 시군구별 음주운전.csv")
seoul_df = seoul_df.drop([seoul_df.index[0]])
seoul_df

      기간    지역 발생건수 사망자수 부상자수
1   2019   종로구   48    -   78
2   2019    중구   30    -   42
3   2019   용산구   73    1  127
4   2019   성동구   61    -   92
5   2019   광진구   62    1  100
6   2019  동대문구   63    -   86
7   2019   중랑구   74    -  102
8   2019   성북구   62    1  106
9   2019   강북구   60    1  102
10  2019   도봉구   35    1   52
11  2019   노원구   93    -  147
12  2019   은평구   77    -  126
13  2019  서대문구   35    -   59
14  2019   마포구  118    -  211
15  2019   양천구   64    1  121
16  2019   강서구  110    -  166
17  2019   구로구  103    1  177
18  2019   금천구   76    2  117
19  2019  영등포구  114    1  212
20  2019   동작구   67    -  144
21  2019   관악구   95    -  149
22  2019   서초구  152    2  248
23  2019   강남구  293    1  523
24  2019   송파구  161    -  295
25  2019   강동구   64    -  108

In [9]:
seoul_locate_df = pd.read_csv("서울시 시군구별 위,경도값.csv",encoding='cp949')
seoul_locate_df

    순번  시군구코드 시군구명_한글          시군구명_영문  ESRI_PK         위도          경도
0    1  11320     도봉구        Dobong-gu        0  37.665861  127.031767
1    2  11380     은평구     Eunpyeong-gu        1  37.617612  126.922700
2    3  11230    동대문구    Dongdaemun-gu        2  37.583801  127.050700
3    4  11590     동작구       Dongjak-gu        3  37.496504  126.944307
4    5  11545     금천구     Geumcheon-gu        4  37.460097  126.900155
5    6  11530     구로구          Guro-gu        5  37.495486  126.858121
6    7  11110     종로구        Jongno-gu        6  37.599100  126.986149
7    8  11305     강북구       Gangbuk-gu        7  37.646995  127.014716
8    9  11260     중랑구      Jungnang-gu        8  37.595379  127.093967
9   10  11680     강남구       Gangnam-gu        9  37.495985  127.066409
10  11  11500     강서구       Gangseo-gu       10  37.565762  126.822656
11  12  11140      중구          Jung-gu       11  37.557945  126.994190
12  13  11740     강동구      Gangdong-gu       12  37.549208  127.146482
13  14  11215     광진구      Gwangjin-gu       13  37.548144  127.085753
14  15  11440     마포구          Mapo-gu       14  37.562291  126.908780
15  16  11650     서초구        Seocho-gu       16  37.476953  127.037810
16  17  11290     성북구      Seongbuk-gu       17  37.606991  127.023218
17  18  11350     노원구         Nowon-gu       18  37.655264  127.077120
18  19  11710     송파구        Songpa-gu       19  37.504853  127.114482
19  20  11410    서대문구     Seodaemun-gu       21  37.582037  126.935667
20  21  11470     양천구     Yangcheon-gu       22  37.521900  126.857500
21  22  11560    영등포구  Yeongdeungpo-gu       23  37.520641  126.913924
22  23  11620     관악구        Gwanak-gu       15  37.465399  126.943807
23  24  11200     성동구     Seongdong-gu       20  37.550675  127.040962
24  25  11170     용산구       Yongsan-gu       24  37.528582  126.981987

In [10]:
seoul_locate_df = seoul_locate_df.drop(['순번','시군구코드','시군구명_영문','ESRI_PK'],axis=1)
seoul_locate_df = seoul_locate_df.rename({'시군구명_한글':'지역'},axis='columns')
seoul_locate_df

      지역         위도          경도
0    도봉구  37.665861  127.031767
1    은평구  37.617612  126.922700
2   동대문구  37.583801  127.050700
3    동작구  37.496504  126.944307
4    금천구  37.460097  126.900155
5    구로구  37.495486  126.858121
6    종로구  37.599100  126.986149
7    강북구  37.646995  127.014716
8    중랑구  37.595379  127.093967
9    강남구  37.495985  127.066409
10   강서구  37.565762  126.822656
11    중구  37.557945  126.994190
12   강동구  37.549208  127.146482
13   광진구  37.548144  127.085753
14   마포구  37.562291  126.908780
15   서초구  37.476953  127.037810
16   성북구  37.606991  127.023218
17   노원구  37.655264  127.077120
18   송파구  37.504853  127.114482
19  서대문구  37.582037  126.935667
20   양천구  37.521900  126.857500
21  영등포구  37.520641  126.913924
22   관악구  37.465399  126.943807
23   성동구  37.550675  127.040962
24   용산구  37.528582  126.981987

In [22]:
seoul_df = seoul_df.merge(seoul_locate_df)
seoul_df.head()

     기간   지역 발생건수 사망자수 부상자수         위도          경도
0  2019  종로구   48    -   78  37.599100  126.986149
1  2019   중구   30    -   42  37.557945  126.994190
2  2019  용산구   73    1  127  37.528582  126.981987
3  2019  성동구   61    -   92  37.550675  127.040962
4  2019  광진구   62    1  100  37.548144  127.085753

In [23]:
for i in seoul_df.index:
    sub_long = seoul_df.loc[i,'경도']
    sub_lat = seoul_df.loc[i,'위도']
    print(seoul_df.loc[i,'지역'],sub_lat,sub_long)

종로구 37.5990998 126.98614930000001
중구 37.557945200000006 126.99419040000001
용산구 37.528582 126.98198700000002
성동구 37.550675299999995 127.0409622
광진구 37.5481445 127.0857528
동대문구 37.5838012 127.0507003
중랑구 37.5953795 127.0939669
성북구 37.606991 127.0232185
강북구 37.646995399999994 127.0147158
도봉구 37.6658609 127.0317674
노원구 37.655264 127.07712009999999
은평구 37.6176125 126.9227004
서대문구 37.5820369 126.93566650000001
마포구 37.562290600000004 126.9087803
양천구 37.5219 126.8575
강서구 37.5657617 126.8226561
구로구 37.4954856 126.858121
금천구 37.460096899999996 126.90015459999998
영등포구 37.520641 126.91392420000001
동작구 37.4965037 126.94430729999999
관악구 37.465399299999994 126.9438071
서초구 37.4769528 127.03781029999999
강남구 37.4959854 127.0664091
송파구 37.5048534 127.1144822
강동구 37.549207700000004 127.1464824